// Define variables for your color scheme

// For example:
$red: #921224;
$blue: #1c819e;
$yellow: #ffbe00;
$orange: #326765;
$green: #7da87b;
$gray: #606470;
$white: white;
$light-gray: #b7b7b7;
$lightturquois: #ebf5ee;
